.toggle-mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00000099;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.toggle-mode svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition: all 0.3s ease;
}

.toggle-mode svg * {
    fill: #fff;
    transition: all 0.3s ease;
}