.language {
  position: fixed;
  top: 25%;
  right: 0;
  background: linear-gradient(
    90deg,
    var(--second-color) 0%,
    var(--third-color) 100%
  );
  width: 35px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50% 0 0 50%;
  color: #fff;
  font-family: var(--font-bold);
  line-height: 0;
  z-index: 99999;
}

[dir="rtl"] .language {
  right: auto;
  left: 0;
  border-radius: 0 50% 50% 0;
}

.language:hover {
  filter: brightness(1.2);
}
