/* ! Defaults */

/* Arabic-Fonts */
@font-face {
  font-family: "Tajawal-Bold";
  src: url(assets/fonts/Tajawal-Bold.ttf);
}

@font-face {
  font-family: "Tajawal-Medium";
  src: url(assets/fonts/Tajawal-Medium.ttf);
}

@font-face {
  font-family: "Tajawal-Regular";
  src: url(assets/fonts/Tajawal-Regular.ttf);
}
/* Main Values */
:root {
  --font-bold: "Tajawal-Bold", sans-serif;
  --font-medium: "Tajawal-Medium", sans-serif;
  --font-regular: "Tajawal-Regular", sans-serif;
  --main-color: #101c2f;
  --second-color: #24346d;
  --third-color: #009daa;
  --light-text: #ffffff;
  --dark-text: #212121;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--second-color);
}

* {
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-regular);
  color: var(--dark-text);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
input,
textarea,
select,
label,
table,
ul,
li {
  font-size: 1rem;
  font-family: var(--font-regular);
  color: var(--dark-text);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-text);
}

input {
  border: none;
  outline: none;
  font-family: var(--font-regular);
  color: var(--dark-text);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

img {
  pointer-events: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
