.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100vh;
  grid-template-areas: "sidebar sidebar sidebar main main main main main main main main main";
  overflow: hidden;
}

.page {
  grid-area: main;
  padding: 50px 20px;
  overflow: auto;
}
